.navContainer {
    width: 52px;
    height: 100%;
    margin-left: 0px;
    background-color: #3A3A3D;
    display: flex;
}

.appContainer {
    width: 50px;
    margin: auto;
    margin-top: 0px;
}

.app {
    width: 40px;
    height: 40px;
    background-color: rgb(87, 172, 218);
    border-radius: 4px;
    margin: 5px;
}

.navButtonImage {
    width: 30px;
    height: 30px;
    margin: 5px;
}