.noteContainer {
    width: 100%;
    margin-top: 8px;
}

.noteText {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #d1d1d1;
}