.subtitleContainer {
	width: calc(100% - 30px);
	margin-left: 10px;
	border-bottom: 1px solid rgb(226, 226, 226);
	margin-top: 0px;
}

.subtitle {
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	padding-top: 6px;
	color: rgb(226, 226, 226);
}
